extends layout

block content
  h1= title
  //- p Welcome to #{title} POOOOOO

  p You are logged in
  button(onclick='view()') View All Users
  button(onclick='changePW()') Change Password
  button(onclick='deleteAcc()') Delete Your Account

  script.
    var view = function() {
      window.location.href = '/users'
    }

  script.
    var deleteAcc = function() {
      window.location.href = '/loggedin/delete'
    }

  script.
    var changePW = function() {
      window.location.href = '/loggedin/changePW'
    }

