extends layout

block content
  h1= title
  //- p Welcome to #{title} POOOOOO

  p You are logged in
  button(onclick='changePW()') Change Password

  script.
    var changePW = function() {
      window.location.href = '/loggedin/changePW'
    }
  
  script(src="https://unpkg.com/vue@next").
  
