extends layout

block content
  h1= title
  //- p Welcome to #{title} POOOOOO

  button(onclick='login()') Click to Login
  button(onclick='register()') Click to Register

  script.
    var login = function() {
      window.location.href = '/users'
    }
  
  script.
    var register = function() {
      window.location.href = '/users/new'
    }
  
